
<div style="margin-bottom: 40px;">
  <h2 style="font-size: 2rem; margin: 0 auto; font-weight: bolder">
    Traductor de Lenguaje de Señas Peruano (LSP) a Texto
  </h2>
</div>

<mat-card style="max-width: 500px;">
  <mat-card-content>
    <video autoplay id="vid" width="100%">
    </video>
  </mat-card-content>
</mat-card>

<mat-divider style="margin: 20px 0;"></mat-divider>

<mat-card style="max-width: 500px; height: 300px;">
  <mat-card-header>
    <mat-card-subtitle>Español</mat-card-subtitle>
    <mat-card-title>Texto</mat-card-title>
  </mat-card-header>
  <mat-card-content style="height: 100%">
    <p>
      {{ output }}
    </p>
  </mat-card-content>
  <mat-card-actions style="display: flex; gap: 5px;">
    <button style="flex: 1 1 0px" mat-stroked-button>Reiniciar</button>
    <button style="flex: 1 1 0px" mat-stroked-button>Copiar</button>
  </mat-card-actions>
</mat-card>
